  <section class="card-preview">
    <img src="" alt="">
  </section>
  <section class="field">
    <div class="field__players-count-selector field__players-count-selector--2x" data-num-of-players="2">
      <span>2p</span>
    </div>
    <div class="field__players-count-selector field__players-count-selector--4x" data-num-of-players="4">
      <span>4p</span>
    </div>


    <div class=" field__rotator field__rotator--player-1" data-rotation="180"
         data-target="field__duelist-side--player-1"><i
      class="fas fa-undo"></i></div>
    <div class="field__rotator field__rotator--player-2" data-rotation="0"
         data-target="field__duelist-side--player-2"><i
      class="fas fa-undo"></i></div>
    <div class="field__rotator field__rotator--player-3" data-rotation="180"
         data-target="field__duelist-side--player-3"><i
      class="fas fa-undo"></i></div>
    <div class="field__rotator field__rotator--player-4" data-rotation="0"
         data-target="field__duelist-side--player-4"><i
      class="fas fa-undo"></i></div>

    <div class="field__duelist-side field__duelist-side--player-1">

      <div class="field__player-name"><span>Venant P1</span></div>
      <div class="field__card-field">
        <div class="card-slot"></div>
      </div>
      <div class="field__magic-trap-and-monster">
        <div class="field__monster">
          <div class="card-slot card-slot--monster card-slot--filled card-slot--hidden card-slot--defense">
            <img src="assets/cards/exodia.jpg" alt="">
          </div>
          <div class="card-slot card-slot--monster card-slot--filled card-slot--defense">
            <img src="assets/cards/exodia.jpg" alt="">
          </div>
          <div class="card-slot card-slot--monster card-slot--filled">
            <img src="assets/cards/exodia.jpg" alt="">
          </div>
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
        </div>
        <div class="field__magic-trap">
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
        </div>
      </div>
      <div class="field__deck">
        <div class="card-slot card-slot--graveyard"></div>
        <div class="card-slot card-slot--deck"></div>
      </div>
    </div>
    <div class="field__duelist-side field__duelist-side--player-2">
      <div class="field__player-name"><span>Venant P2</span></div>
      <div class="field__card-field">
        <div class="card-slot"></div>
      </div>
      <div class="field__magic-trap-and-monster">
        <div class="field__monster">
          <div class="card-slot card-slot--monster card-slot--filled card-slot--hidden card-slot--defense">
            <img src="assets/cards/exodia.jpg" alt="">
          </div>
          <div class="card-slot card-slot--monster card-slot--filled card-slot--defense">
            <img src="assets/cards/exodia.jpg" alt="">
          </div>
          <div class="card-slot card-slot--monster card-slot--filled">
            <img src="assets/cards/exodia.jpg" alt="">
          </div>
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
        </div>
        <div class="field__magic-trap">
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
        </div>
      </div>
      <div class="field__deck">
        <div class="card-slot card-slot--graveyard"></div>
        <div class="card-slot card-slot--deck"></div>
      </div>
    </div>
    <div class="field__duelist-side field__duelist-side--player-3">
      <div class="field__player-name"><span>Venant P3</span></div>
      <div class="field__card-field">
        <div class="card-slot"></div>
      </div>
      <div class="field__magic-trap-and-monster">
        <div class="field__monster">
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
        </div>
        <div class="field__magic-trap">
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
        </div>
      </div>
      <div class="field__deck">
        <div class="card-slot card-slot--graveyard"></div>
        <div class="card-slot card-slot--deck"></div>
      </div>
    </div>
    <div class="field__duelist-side field__duelist-side--player-4">
      <div class="field__player-name"><span>Venant P4</span></div>
      <div class="field__card-field">
        <div class="card-slot"></div>
      </div>
      <div class="field__magic-trap-and-monster">
        <div class="field__monster">
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
          <div class="card-slot card-slot--monster"></div>
        </div>
        <div class="field__magic-trap">
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
          <div class="card-slot"></div>
        </div>
      </div>
      <div class="field__deck">
        <div class="card-slot card-slot--graveyard"></div>
        <div class="card-slot card-slot--deck"></div>
      </div>
    </div>
  </section>
